include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include lt_piece_rate_pay_report *.css
recursive-include lt_piece_rate_pay_report *.csv
recursive-include lt_piece_rate_pay_report *.html
recursive-include lt_piece_rate_pay_report *.ico
recursive-include lt_piece_rate_pay_report *.js
recursive-include lt_piece_rate_pay_report *.json
recursive-include lt_piece_rate_pay_report *.md
recursive-include lt_piece_rate_pay_report *.png
recursive-include lt_piece_rate_pay_report *.py
recursive-include lt_piece_rate_pay_report *.svg
recursive-include lt_piece_rate_pay_report *.txt
recursive-exclude lt_piece_rate_pay_report *.pyc